*{
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 400;
    --color-1: #fb3640;
    --color-2: #C0BDA5;
    --color-3: #474747;
    --color-4: #1E1E1E;
    --color-5: #7D82B8;
}

body{
    background-color:var(--color-2);
    margin: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}

input{
    background-color: transparent;
    margin: 0;
    margin-right: 0.25em;
}

.container{
    width: 80%;
    max-width: 800px;
    margin: auto;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    
}

.searcher, .results{
    width: 100%;
}

.input_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1em;
}

.input_wrapper{
    height: 0px;
    overflow-y: hidden;
}

.activated{
    height: auto;
}

.results h1{
    width: 100%;
    text-align: center;
    scroll-margin-top: 10vh;
    visibility: hidden;
}

.input_box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.muscle_selector{
    width: 50%;
}

.input_box form{
    padding: 15px;
}

.searcher h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.list{
    display: flex;
    flex-wrap: wrap;
}

li{
    width: 50%;
    list-style: none;
    padding: 10px;
    border-radius: 10px;
}

.results li {
    cursor: pointer
}

.results div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.results div img{
    height: 200px;
    background-color: white;
    cursor: pointer;
}

.results li{
    width: 50%;
}

.ex_name{
    font-size: 18px;
    font-weight: bold;
}


.results{
    text-transform: capitalize;
}



input[type="checkbox"] {
    appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    display: grid;
    place-content: center;
    
}

input[type="checkbox"]::before{
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-1);
    background: var(--color-1);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="radio"]{
    border: 1px solid black;
    background-color: transparent;
    appearance: none;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    display: grid;
    place-content: center;
    
}

input[type="radio"]:before{
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color-1);
    background: var(--color-1);
    border-radius: 100%;
}

input[type="radio"]:checked::before {
    transform: scale(1);
}
input[type="radio"]:checked {
    border-color: var(--color-1);
}

.searcher_input{
    height: 10vh;
    background-color: var(--color-3);
    color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: 100%;
    padding: 0px;
    top: 10vh;
    left: 0;
}

.searcher{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#msc_sel i{
    font-size: large;
}

.searcher_input input{
    margin: 0px 15px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    color: white;

}

.searcher_input input:focus-visible{
    outline: none;
}



header{
    background: var(--color-1);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    padding: 0px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

header ul{
    display: flex;
    list-style: none;
}

header li{
    padding: 15px;
}

.button {
    width: 300px;
    padding: 0.8em 1.7em;
    border-radius: .3em;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    z-index: 1;
    background-color: var(--color-1);
    color: white;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

.button:hover{
    transform: scale(1.1);
}

.svg-container{
    width: 50%;
}

.svg-container svg{
    width: 100%;
}

rect{
    fill: transparent
}

.muscle_group:hover path{
    fill: var(--color-1);
}


#Front:hover{
    fill: none;
}

#Back:hover {
    fill: none;
}

path{
    transition: 200ms ease-in-out;
}

.muscle_selected{
    fill: rgba(251, 54, 64, 0.8);
    fill-opacity: 1;
}

.pop_up_wrapper{
    position: fixed;
    margin-top: 10vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 90vh;
    width: 100%;
    background-color: var(--color-4);
    color: white;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    text-transform: capitalize;
    overflow-y: scroll;
}



.pop_up_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 125px 125px 1fr 1fr;    
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
    max-width: 900px;
    height: 90vh;
    max-height: 650px;
    margin: auto;
}

.pop_up_wrapper h2{
    grid-area: 1 / 1 / 2 / 6;
    height: fit-content;
    text-align: center;
}

.img_container{
    grid-area: 1 / 3 / 4 / 5;
    max-height: 100%;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}


.specs{
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    flex-wrap: wrap;
}

.specs h3{
    width: 100%;
    text-align: center;
}

.data_wrapper{
    grid-area: 3 / 1 / 5 / 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    align-items: center;
}

.objective{
    grid-area: 1 / 1 / 2 / 4;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.obj{
    height: 100%;
    margin: 0;
    border: none;
    width: 32%;
    padding: 15px 0;
    background: transparent;
    border: 1px solid white;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.series-display{
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.series-display li{
    text-align: center;
    width: 70px;
    border-radius: 5px; 
    transition: 0.5s ease-in-out;
}

.series-display li:hover{
    background: rgba(350, 350, 350, 0.7);
}

.data{
    grid-area: 3 / 1 / 4 / 4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.data p{
    transition: 0.5s ease-in-out;
}

.pop_up_container h4{
    width: 100%;
    margin: 10px 0; 
    text-align: center;
}

.data div{
    width: 33.3%;
    text-align: center;
    font-size: 18px
}

.info{
    position: relative;
    top: 0px;
    right: 0px;
}

.pop_up_container svg{
    position: relative;
}

.objective button:hover {
    background: rgba(350, 350, 350, 0.7);
    color: black;
}


.active_button {
    background: rgba(350, 350, 350, 0.7);
    color: black;
}

.fa-circle-xmark{
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 0;
    margin: 20px;
}

header i{
    visibility: hidden;
}

.menubar{
    transform: translateX(0%) !important;
    z-index: 4;
}

.info-tag{
    visibility: visible;
    position: relative;
    top: -80px;
    left: 70%;
    background: var(--color-4);
    padding: 15px;
    border: 3px solid white;
    width: 100px;
}

.data button{
    width: 33.3%;
    text-align: center;
    font-size: 18px;
    border-radius: .3em;
    cursor: pointer;
    transition: .5s;
    border: none;
    background: transparent;
    color: white;
}

.series-display button{
    width: 100%;
    text-align: center;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
}

#objs{
    width: 100%;
    text-align: center;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
}

.image_pop_up{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.image_pop_up img{
    width: 70%;
    max-width: 500px;
    cursor: pointer;
}

.fa-circle-down{
    position: absolute;
    bottom: 50px;
    left: 47.5%;
    transform: translateX(-50%);
    font-size: 46px;
    animation: float 2s ease-in-out infinite;
    opacity: 0;
    cursor: pointer;
    color: var(--color-1);
    visibility: hidden;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {

        transform: translatey(0px);
    }
}

@media screen and (max-width: 655px){

    .specs li{
        width: 100%;
    }

    .pop_up_container{
        display: flex;
        flex-direction: column;
        width: 70%;
        font-size: 14px;
    }

    .img_container{
        height: 300px;
    }

    .img_container svg{
        height: 300px;
        width: fit-content  ;
    }

    .popup_data{
        width: 70%;
        margin: 20px auto;
        font-size: 20px;
    }

    .obj{
        font-size: 11px;
    }

    .fa-bars{
        visibility: visible;
    }

    header ul{
        display: none;
    }

    header li{
        padding: 15px 0;
    }

    header h1{
        font-size: 20px;
    }

    .searcher{
        font-size: 14px;
    }

    .searcher_input{
        display: flex;
        flex-wrap: wrap;
        padding: 5px !important;
    }

    .searcher_input h3{
        width: 100%;
        margin: 0;
    }

    .searcher_input input{
        padding: 2px;
    }

    .searcher h2{
        font-size: 20px;
    }

    .input_box form{
        padding: 5px;
        width: 100%;
    }

    .svg-container{
        width: 100%;
        height: 300px;
    }

    .svg-container svg{
        height: 300px;
    }

    h3{
        margin: 0;
    }

    .button{
        width: 100%;
        font-size: 14px;
        padding: 10px;
        margin-top: 20px;
    }

    .menu{
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        margin-top: 10vh;
        background-color: var(--color-1);
        transform: translateX(-100%);
        width: 40%;
        height: 90vh;
        display: block;
        transition: transform 0.5s ease-in-out;
    }

    .results div{
        flex-direction: column;
    }

    .results div img{
        height: auto;
        width: 70%;
    }
}

.visible {
    transition: opacity 0.5s ease-in;
    visibility: visible !important;
    opacity: 1 !important;
}